@{
    ViewBag.Title = "Facebook";
}

<br/>
@if (ViewBag.CurrentUser == null)
{
    <div class="row">
        <a href="@ViewBag.Url">Login &amp; Get AccessToken</a>
    </div>
}
else
{
    <div class="row">
        Welcome, @ViewBag.CurrentUser.Name <br/>
        Access Token : @ViewBag.CurrentUser.AccessToken
    </div>

    <div class="row">
        @using (Html.BeginForm("Post", "Home"))
        {
            <input type="text" value="" name="Message"/>
            <input type="submit" value="Post Feed"/>
        }
    </div>
}
